.featured{
    height: 90vh;
    position: relative;
    @media screen and (max-width: 800px){
        margin-bottom: 70px;
      }

.category{
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    select{
        cursor: pointer;
        background-color: var(--main-color) ;
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 5px;
    }
}
    .dimPics{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
       
        @media screen and (max-width: 800px){
            top:55px;
          }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 800px){
            width:80vw;
          }

        img{
            width: 200px;
            object-fit: cover;
        }

        .desc{
            margin: 20px 0px;
            padding: 10px;
            background-color: #000;
        
        }

        .buttons{
            display: flex;
            a{
                text-decoration: none;
            }
            button{
                text-decoration: none;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500px;
                margin-right: 10px;
                cursor: pointer;

                span{
                    margin-left: 5px;
                }

                &.play{
                    background-color: white;
                    color: var(--main-color);
                }

                &.more{
                    background-color: gray;
                    color:white;
                }
            }
            }
        }
    }

}